.container {
  background-color: var(--bgInput);
  border-radius: 5px;

  width: 70%;
  height: 100%;

  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 100%;

  p {
    color: var(--blue);
    text-decoration: underline;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 15%;
    gap: 0.5rem;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;

    background-color: var(--bgInput);

    img {
      width: 10px;
    }
  }
}

.data {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
