.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  background-color: var(--bgInput);
  border-radius: 5px;

  width: 70%;
  height: 100%;

  padding: 1rem;
  gap: 1rem;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 100%;

  h5 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.48px;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 15%;
    gap: 0.5rem;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;

    background-color: var(--bgInput);

    img {
      width: 10px;
    }
  }
}

.data {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  gap: 1rem;

  p {
    font-size: 1.125rem;
  }
}
