.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--overlay);
}

.container {
  width: 55%;
  padding: 1rem;

  border-radius: 5px;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  box-shadow: 0rem 1.25rem 1.5rem #0000001a;
  background: var(--white);
}

form {
  width: 100%;
  padding: 1rem;

  border-radius: 5px;

  background-color: var(--white);

  header {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding-bottom: 1.5rem;

    justify-content: space-between;
    align-items: center;

    legend {
      display: flex;
      flex-direction: row;

      justify-content: center;
      align-items: center;
    }

    button {
      height: 100%;

      background: var(--white);
    }

    img {
      width: 15px;
      height: 15px;
    }
  }
}

label,
legend {
  text-align: left;
  font: normal normal 600 1.25rem Source Sans Pro;
  letter-spacing: 0.4px;
  color: #170c3a;
  opacity: 1;
}

input[type='text'],
input[type='url'],
textarea {
  width: 100%;
  height: 50px;

  padding-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;

  border-radius: 5px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;

  background-color: var(--bgInput);
  border: 1px solid #ebeaed;

  color: #000;

  &::placeholder {
    color: #b1adb9;
  }

  &:focus {
    border: 1px solid #dedce1;
    background-color: var(--bgInputFocus);
    color: #170c3a;

    &::placeholder {
      color: #8f8a9b;
    }
  }

  &:valid {
    border: 1px solid #ebeaed;
    background-color: var(--bgInput);
  }
}

textarea {
  width: 100%;
  height: 100px;

  padding-top: 1rem;
  resize: none;
}

input[type='submit'] {
  width: 25%;
  height: 50px;

  float: right;

  border-radius: 5px;
  background: var(--blue);
  color: var(--white);

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.4px;

  &:hover {
    background-color: #2f55cc;
    cursor: pointer;
  }

  &:active {
    background-color: #244aa8;
  }
}
