.container {
  display: flex;
  flex-direction: column;

  margin-bottom: 0.5rem;

  div {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;

    padding-bottom: 1rem;

    label {
      text-align: left;
  
      font: normal normal 600 1.25rem Source Sans Pro;
      letter-spacing: 0.4px;
  
      color: #170c3a;
    }
  }

  p {
    text-align: right;
    color: #f95e5a;
  }
}

.textarea {
  width: 100%;
  height: 100px;

  resize: none;
  
  padding: 1rem;
  margin-bottom: 0.5rem;

  border-radius: 5px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;

  background-color: var(--bgInput);
  border: 1px solid #ebeaed;

  color: #000;

  &::placeholder {
    color: #b1adb9;
  }

  &:focus {
    border: 1px solid #dedce1;
    background-color: var(--bgInputFocus);
    color: #170c3a;

    &::placeholder {
      color: #8f8a9b;
    }
  }

  &:valid {
    border: 1px solid #ebeaed;
    background-color: var(--bgInput);
  }

  &:required:invalid {
    background-color: var(--bgInputInvalid);
    border: 1px solid #f95e5a;
  }
}

label {
  text-align: left;
  font: normal normal 600 1.25rem Source Sans Pro;
  letter-spacing: 0.4px;
  color: #170c3a;
  opacity: 1;
}
