*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --orange: #f95e5a;
  --background: #DEDCE1;
  --overlay: #170C3AE6;
  --inputLabelRequired: #F5F4F6;
  --inputLabelRequiredFocused: #EBEAED;
  --inputLabelRequiredInvalid: #FEEFEE;
  --searchInput: #F5F4F6;
  --borderInputLabel: #EBEAED;
  --textInputRequired: #B1ADB9;
  --textInputEntered: #170C3A;
  --textInputFocused: #8F8A9B;
  --backgroundButton: #365DF0;
  --backgroundButtonHover: #2F55CC;
  --backgroundButtonClick: #244AA8;
  --backgroundButtonDisabled: #B9C6FA;
  --titles: #170C3A;
  --content: #000000;
  --backgroundWidget: #F5F4F6;
  --backgroundModal: #DEDCE1;
}

:root.dark {
  --white: #fff;
  --black: #000;
  --background: #170C3A;
  --overlay: #170C3AE6;
  --inputLabelRequired: #211155;
  --inputLabelRequiredFocused: #271466;
  --borderInputLabel: #353372;
  --textInputRequired: #B1ADB9;
  --textInputEntered: #F5F4F6;
  --textInputFocused: #8F8A9B;
  --backgroundButton: #365DF0;
  --backgroundButtonHover: #2F55CC;
  --backgroundButtonClick: #244AA8;
  --backgroundButtonDisabled: #B9C6FA;
  --titles: #EBEAED;
  --content: #fff;
  --backgroundWidget: #353372;
  --backgroundModal: #353372;
}

html {
  @media (max-width: 1366px) {
    font-size: 90%;
  }

  @media (max-width: 1080px) {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--background);
}

body, input, textarea, button, label {
  font-size: 1.25rem;
  font-family: Source Sans Pro, sans-serif;
  letter-spacing: 0.4px;
  border-radius: 5px;
}

h1, h2 ,h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Source Sans Pro, sans-serif;
  color: var(--titles);
}

h1 {
  font-size: 2.625rem;
  letter-spacing: 0.84px;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: 0.72px;
}

h3 {
  font-size: 1.875rem;
  letter-spacing: 0.6px;
}

h4 {
  font-size: 1.625rem;
  letter-spacing: 0.52px;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0.48px;
}

input, button {
  height: 50px;
}

label {
  font-weight: 600;
  text-align: left;

  text-transform: capitalize;
}

button {
  cursor: pointer;
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}


