.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--overlay);
}

.container {
  display: flex;
  flex-direction: column;

  margin: 0 1rem;

  width: 25rem;
  padding: 1.875rem;
  border-radius: 5px;

  gap: 1.875rem;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  box-shadow: 0rem 1.25rem 1.5rem #0d0d291a;
  background: var(--backgroundModal);
  color: var(--titles);

  p {
    color: #8F8A9B;
  }
}

.title {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 0.5rem;

  img {
    width: 15px;
    height: 15px;
  }
}

.footer {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  gap: 1rem;

  @media (max-width: 768px) {
    justify-content: center;
  }

  button {
    width: 7.5rem;
    border-radius: 5px;

    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.36px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .cancel {
    background: #E1E7FD;
    color: #365DF0;

    &:hover {
      background-color: #CAD6FC;
    }

    &:active {
      background-color: #B9C6FA;
    }
  }

  .remove {
    background: var(--backgroundButton);
    color: var(--white);

    &:hover {
      background-color: var(--backgroundButtonHover);
      cursor: pointer;
    }

    &:active {
      background-color: var(--backgroundButtonClick);
    }
  }
}
