.container {
  display: flex;
  flex-direction: column;

  margin-bottom: 0.5rem;

  header {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;

    padding-bottom: 1rem;

    span {
      color: var(--white);
    }

    label {
      text-align: left;
      color: var(--titles);
    }
  }

  p {
    font-size: 1rem;
    text-align: right;
    color: var(--orange);
  }

}

.input{
  width: 100%;

  padding-left: 1rem;
  margin-bottom: 0.5rem;

  background-color: var(--inputLabelRequired);
  border: 1px solid var(--borderInputLabel);

  &::placeholder {
    color: var(--textInputRequired);
  }

  &:focus {
    border: 1px solid var(--borderInputLabel);
    background-color: var(--inputLabelRequiredFocused);
    color: var(--textInputEntered);

    &::placeholder {
      color: var(--textInputFocused);
    }
  }

  &:valid {
    color: var(--textInputEntered);
  }
}

.textArea {
  width: 100%;
  height: 100px;

  resize: none;
  
  padding: 1rem;
  margin-bottom: 0.5rem;

  background-color: var(--inputLabelRequired);
  border: 1px solid var(--borderInputLabel);

  color: var(--textInputEntered);

  &::placeholder {
    color: var(--textInputRequired);
  }

  &:focus {
    border: 1px solid var(--borderInputLabel);
    background-color: var(--inputLabelRequiredFocused);
    color: var(--textInputEntered);

    &::placeholder {
      color: var(--textInputFocused);
    }
  }
}

.asterisk {
  color: var(--orange) !important;
}

.inputInvalid {
  width: 100%;

  padding-left: 1rem;
  margin-bottom: 0.5rem;

  color: var(--orange);

  background-color: var(--inputLabelRequiredInvalid);
  border: 1px solid var(--orange);

  &::placeholder {
    color: var(--orange);
  }
}

.textAreaInvalid {
  width: 100%;
  height: 100px;

  resize: none;
  
  padding: 1rem;
  margin-bottom: 0.5rem;

  background-color: var(--inputLabelRequiredInvalid);
  border: 1px solid var(--orange);

  color: var(--orange);

  &::placeholder {
    color: var(--orange);
  }
}
