@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.overlay {
  background: var(--overlay);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 45em;
  padding: 1rem;
  
  border-radius: 5px;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  background: var(--white);
}

form {
  max-width: 100%;
  padding: 1rem;

  border-radius: 5px;
  border: 1px solid #000;
  
  background-color: var(--white);
}


label, legend {
  text-align: left;
  font: normal normal 600 1.25rem/1.65rem Source Sans Pro;
  letter-spacing: 0.4px;
  color: #170C3A;
  opacity: 1;
}

legend {
  padding-bottom: 2rem;
}

input, textarea {
  width: 100%;
  height: 50px;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  padding-left: 2rem;

  border-radius: 5px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;

  background-color: red;
  border: 1px solid #EBEAED;

  color: #000;

  &:empty {  
   background-color: var(--bgInput);
  }

  &::placeholder { 
    color: #B1ADB9;
  }

  &:focus {
    border: 1px solid #DEDCE1;
    background-color: var(--bgInputFocus);
    color: #170C3A;

    &::placeholder { 
      color: #8F8A9B;
    }
  }


}

