
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--overlay);
}

.content {
  width: 55%;
  padding: 1rem;

  border-radius: 5px;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  box-shadow: 0rem 1.25rem 1.5rem #0000001a;
  background: var(--white);
}

.container {
  width: 100%;
  height: 100%;
  padding: 1rem;

  border-radius: 5px;

  background-color: var(--white);

  header {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding-bottom: 1.5rem;

    justify-content: flex-start;
    align-items: center;

    img {
      width: 15px;
      height: 15px;
    }
  }
}

button[type=submit]{
  width: 25%;
  height: 50px;

  float: right;

  border-radius: 5px;
  background: var(--blue);
  color: var(--white);

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.4px;

  &:hover {
    background-color: #2f55cc;
    cursor: pointer;
  }

  &:active {
    background-color: #244aa8;
  }
}

.formRow {
  display: flex;
  flex-direction: column;
}